#header {
	background: #074f8f;
	font: 14px/14px Tahoma, sans-serif;
}
.navigation a {
	display: block;
	padding: 11px 9px;
	color: #60b5ed;
}
.navigation a:hover {
	background-color: #4eabda;
	color: #fff;
}
.navigation li:nth-child(5) {
	position: relative;
}
.navigation li:nth-child(5) span {
	position: absolute;
	right: 100%;
	display: block;
	height: 32px;
	width: 1px;
	background-color: ##60b5ed;
}